build/
.classpath
.project
/*.launch
.gradle/
eclipse/
bin/
repo/
out/
/run/
.settings/
#IDEA files from Gradle
.idea/
/*.iml
/*.ipr
/*.iws
*.tmp
/logs/
/generated/
/run/
/build.old/
/banned-ips.json
/banned-players.json
/ops.json
/whitelist.json
src/generated/resources/.cache/cache
